<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CommentMapper">

    <select id="getComment" resultType="com.entity.Comment">
        SELECT t1.id,t1.comment,t1.time,t1.owner_id,t1.create_time,t1.create_by,
        t1.update_time,t1.update_by,t1.del_flag FROM t_comment t1,t_player_comment t2,
        t_player t3 WHERE t1.id=t2.cid AND t2.pid=t3.id AND t3.id=#{id}
    </select>

</mapper>
